.content {
  padding: 36px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  // width: 400px;
  // height: 700px;
  // max-width: 220px;
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  // height: 450px;
  height: 490px;

  // height: auto;
}
.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

mat-card img {
  object-fit: cover;

  padding-left: 10%;
  padding-right: 10%;
}

.img_card {
  width: 280px;
  height: 340px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-content {
  text-align: center;
  font-size: 21px;
}

.book_btn {
  margin-bottom: 20px;
  height: 50px;
  font-size: 20px;
}

.title {
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 24px;
  width: 9.5em;
  overflow: hidden;
  // margin-left: 10%;
  // margin-right: 10%;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.top_title {
  color: black;
  padding-top: 25px;
  text-align: center;
  margin: 1% !important;
  font-size: var(--h1-font-size) !important;
}
.main-container {
  margin-left: 130px !important;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 0 0 0 0 !important;
}
.details_btn {
  margin-top: -4px !important;
}
.buttons_top {
  display: flex;
  justify-content: flex-end;
}

mat-form-field,
mat-checkbox {
  width: 70%;
  //display: block;
  // font-size: 25px;
  margin: 25px 25px 0px 25px;
}

.form-field-sort {
  font-size: 18px;
  text-align: center;
}

::ng-deep .mat-select-panel {
  //background: rgb(119, 112, 112);
}

::ng-deep .mat-select-value {
  padding-left: 5px;
}

.sortForm {
  display: flex;
}
