<mat-toolbar color="primary" class="sticky">
  <span>
    <a class="app-logo">
      <img
        id="logo"
        src="../../../assets/img/logo_testtt_2.png"
        (click)="goToHomePage()"
      /> </a
  ></span>

  <span class="example-spacer"></span>

  <div class="search-bar">
    <form [formGroup]="searchFormGroup">
      <mat-form-field class="search-sort" appearance="fill">
        <mat-label>Alege</mat-label>
        <mat-select
          formControlName="property"
          (selectionChange)="change($event)"
        >
          <mat-option *ngFor="let property of properties" [value]="property">
            {{ property }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Caută după titlu, autor sau editură</mat-label>
        <input
          formControlName="searchValue"
          #search
          type="text"
          placeholder="Titlu, Autor sau Editură"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        class="search_btn"
        (click)="searchedTitle(search.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>

  <button mat-raised-button class="book_btn" (click)="goToBookList()">
    Vizualizare cărți
  </button>

  <button mat-raised-button class="contact_btn" [routerLink]="['/contact']">
    Contact
  </button>

  <a (click)="openDialog()" *ngIf="!(isLoggedIn$ | async)">
    <mat-icon class="account_btn" matSuffi x>perm_identity</mat-icon>
  </a>

  <a [matMenuTriggerFor]="menu" *ngIf="isLoggedIn$ | async">
    <mat-icon
      *ngIf="currentUser$ | async as user"
      class="account_btn"
      matSuffi
      x
      #tooltip="matTooltip"
      matTooltip="salut  {{ user.firstName }}"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      >perm_identity</mat-icon
    >
  </a>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/edit-profile"
      class="matMenu2_btn"
      (click)="checkEditMode()"
    >
      <span>Contul meu</span>
    </button>
    <button
      mat-menu-item
      routerLink="/my-books"
      class="matMenu2_btn"
      *ngIf="currentRoleIsUser"
    >
      <span>Cărțile mele</span>
    </button>
    <button
      mat-menu-item
      routerLink="/history-books"
      class="matMenu2_btn"
      *ngIf="currentRoleIsUser"
    >
      <span>Istoric cărți </span>
    </button>

    <button
      [matMenuTriggerFor]="menu2"
      mat-menu-item
      *ngIf="currentRoleIsAdmin"
      class="matMenu2_btn"
    >
      <span>Panou admin </span>
    </button>

    <button mat-menu-item (click)="logout()" class="matMenu2_btn">
      <span>Logout</span>
    </button>
  </mat-menu>

  <mat-menu #menu2="matMenu">
    <button mat-menu-item class="matMenu2_btn" (click)="goToAdminB()">
      <span>Cărți </span>
    </button>
    <button mat-menu-item class="matMenu2_btn" (click)="goToAdminC()">
      <span>Categori </span>
    </button>
    <button mat-menu-item class="matMenu2_btn" (click)="goToAdminU()">
      <span>Utilizatori </span>
    </button>
    <button mat-menu-item class="matMenu2_btn" (click)="goToAdminR()">
      <span>Roluri </span>
    </button>
  </mat-menu>
</mat-toolbar>
