.app-logo {
  padding-top: 40px;
  padding-bottom: 0;
}

#logo {
  padding-top: 5px;
  width: 65px;
  cursor: pointer;
}

/*change color of underline when hover*/
:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: black;
}

/*change color of underline when focused*/
:host ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgb(0, 0, 0);
}

/*change color of label when focused*/
::ng-deep.mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.906);
}

::ng-deep .mat-form-field-appearance-fill .under {
  background-color: rgba(255, 255, 255, 0.1);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0 0 0 !important;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 995;
  background-color: #59cfc2;
  -webkit-transition: 700ms;
  -ms-transition: 700ms;
  transition: 700ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.account_btn {
  width: 40%;
  height: 20% !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2vw !important;
}
.account_btn:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  color: black;
}

.example-full-width {
  width: 70%;
  text-align: center;
  font-size: 0.92vw;
  margin-top: 20px;
}

::ng-deep .seach-form {
  width: 60% !important;
  margin-top: 20px;
}

.search-bar {
  margin-top: 0.3%;
  width: 60%;
  padding-left: 5%;
}

.contact_btn {
  font-size: 1.3vw;
  margin-right: 3%;
}

.scroll-wrapper {
  max-height: 500px;
}

.mat-toolbar.mat-primary {
  -webkit-transition: 1400ms;
  -ms-transition: 1400ms;
  transition: 1400ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.sticky {
}

.search_btn {
  margin-left: 20px;
  height: 45px;
  width: 5%;
  bottom: 1px;
  font-size: 0.92vw;
}

.book_btn {
  font-size: 1.3vw;
  margin-right: 3%;
}

.form-field-book {
  font-size: 15px;
}

.mat-tooltip {
  font-size: 18px;
}

.search-sort {
  width: 15%;
  font-size: 0.92vw;
  margin-right: 20px;
  text-align: center;
}

.matMenu2_btn {
  font-size: 18px;
}
