<mat-toolbar color="primary" class="sticky">
  <!-- <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a class="app-logo">
        <img id="logo" src="../../../assets/img/books.ico" routerLink="/home" />
      </a>
    </div>
  
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <div class="search-bar">
        <form class="search-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Caută după titlu, autor sau editură</mat-label>
            <input
              type="text"
              placeholder="Titlu, Autor sau Editură"
              aria-label="Number"
              matInput
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
  
      <ul class="navigation-items">
        <div>
          <a id="acc-btn">
            <mat-icon matSuffi x>perm_identity</mat-icon>
            <span class="aligned-with-icon">Contul meu</span>
          </a>
        </div>
        <div>
          <button mat-raised-button class="book_btn" routerLink="/add-book">
            Adauga carte
          </button>
        </div>
      </ul>
    </div> -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a class="app-logo">
      <img
        id="logo"
        src="../../../assets/img/books.ico"
        routerLink="/home"
      /> </a
  ></span>

  <!-- <span>My App</span> -->
  <span class="example-spacer"></span>
  <!-- <form [formGroup]="searchFormGroup"></form> -->
  <div class="search-bar">
    <form class="search-form" [formGroup]="searchFormGroup">
      <!-- <mat-form-field class="form-field-book" appearance="fill">
        <mat-label>Alege starea cărții</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field class="search-sort" appearance="fill">
        <mat-label>Alege</mat-label>
        <mat-select
          formControlName="property"
          (selectionChange)="change($event)"
        >
          <mat-option *ngFor="let property of properties" [value]="property">
            {{ property }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Caută după titlu, autor sau editură</mat-label>
        <input
          #search
          type="text"
          placeholder="Titlu, Autor sau Editură"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="search_btn"
        (click)="searchedTitle(search.value)"
      >
        Search
      </button>
    </form>
  </div>
  <!-- <button
    mat-raised-button
    id="logout-btn"
    *ngIf="isLoggedIn$ | async"
    (click)="logout()"
  >
    Logout
  </button> -->

  <!-- <button mat-raised-button class="book_btn" routerLink="/add-book">
    Adauga carte
  </button> -->

  <button mat-raised-button class="book_btn" routerLink="/book-list">
    Cărți
  </button>

  <a (click)="openDialog()" *ngIf="!(isLoggedIn$ | async)">
    <mat-icon class="account_btn" matSuffi x>perm_identity</mat-icon>
  </a>

  <a [matMenuTriggerFor]="menu" *ngIf="isLoggedIn$ | async">
    <mat-icon
      *ngIf="currentUser$ | async as user"
      class="account_btn"
      matSuffi
      x
      #tooltip="matTooltip"
      matTooltip="salut  {{ user.firstName }}"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      >perm_identity</mat-icon
    >
    <!-- <span class="aligned-with-icon">Contul meu</span> -->
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/edit-profile" (click)="checkEditMode()">
      <span>My profile</span>
    </button>
    <button mat-menu-item routerLink="/my-books">
      <span>My books</span>
    </button>
    <button mat-menu-item routerLink="/history-books">
      <span>History </span>
    </button>

    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- <div class="loader-container">
  <mat-spinner *ngIf="isLoading$ | async" mode="indeterminate"> </mat-spinner>
</div> -->
