.app-logo {
  padding-top: 40px;
  padding-bottom: 0;
  //width: 15%;
  // min-width: 1.2vw;
}

#logo {
  padding-top: 5px;
  width: 45px;
}

/*change color of underline when hover*/
:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: black;
}

/*change color of underline when focused*/
:host ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

/*change color of label when focused*/
:host ::ng-deep.mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.1);
}

::ng-deep .mat-form-field-appearance-fill .under {
  background-color: rgba(255, 255, 255, 0.1);
}

// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 1.3em;
// }

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0 0 0 !important;
}
// a {
//   text-decoration: none;
//   color: white;
// }
// a:hover,
// a:active {
//   color: lightgray;
// }
// .navigation-items {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }
// mat-toolbar {
//   border-radius: 3px;
// }
// @media (max-width: 959px) {
//   mat-toolbar {
//     border-radius: 0px;
//   }
// }

// .position-fixed {
//   position: fixed;
// }

// ::ng-deep .mat-drawer-container {
//   background-color: none !important;
// }

// .mat-toolbar.mat-primary {
//   -webkit-transition: 700ms;
//   -ms-transition: 700ms;
//   transition: 700ms;
//   -webkit-animation: sk-bounce 2s infinite ease-in-out;
//   animation: sk-bounce 2s infinite ease-in-out;
// }
// .fixed {
//   position: absolute;
//   background-color: transparent !important;
//   top: 0;
//   z-index: 5;
//   margin-top: 0.9%;
//   align-content: center;
//   color: #fff;
// }
// .sticky {
//   position: sticky;
//   position: -webkit-sticky;
//   top: 0;
//   z-index: 5;
// }

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;

  background-color: rebeccapurple;
  position: sticky;
  position: -webkit-sticky;
  // top: 0px;
  -webkit-transition: 700ms;
  -ms-transition: 700ms;
  transition: 700ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.opaque {
  background-color: rgb(76, 51, 135);
  color: rgb(226, 133, 133);
  -webkit-transition: 700ms;
  -ms-transition: 700ms;
  transition: 700ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.account_btn {
  width: 40%;
  height: 20% !important;
  //margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2vw !important;
}
.account_btn:hover {
  color: white !important;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  color: black;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
  text-align: center;
  font-size: 0.85vw;
  margin-top: 20px;

  // color:white;
}

::ng-deep .seach-form {
  width: 60% !important;
  margin-top: 20px;
}

.search-bar {
  width: 60%;
}

// ::ng-deep .mat-toolbar.mat-primary {
//   -webkit-transition: 700ms;
//   -ms-transition: 700ms;
//   transition: 700ms;
//   -webkit-animation: sk-bounce 2s infinite ease-in-out;
//   animation: sk-bounce 2s infinite ease-in-out;
// }
.scroll-wrapper {
  // overflow: auto;
  max-height: 500px;
}

.sticky-toolbar {
  background-color: rebeccapurple;
  position: sticky;
  top: 0px;
  -webkit-transition: 700ms;
  -ms-transition: 700ms;
  transition: 700ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.mat-toolbar.mat-primary {
  -webkit-transition: 1400ms;
  -ms-transition: 1400ms;
  transition: 1400ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.relative {
  position: relative;
  background-color: red !important;
  top: 0;
  z-index: 5;

  align-content: center;
  color: #fff;
}
.sticky {
  // background-color: black;
  position: sticky;
  position: -webkit-sticky;

  top: 0;
  z-index: 5;
}
