mat-form-field,
mat-checkbox {
  width: 40%;

  //display: block;
  margin: 25px 25px 0px 25px;
  font-size: 17px;
}
mat-card-content {
  margin-top: 10px;
  //   text-align: center;
  font-size: 27px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

mat-card {
  width: 500px;
  height: 700px;
  margin-left: 3%;
}

.avatar_img {
  text-align: center;
}

.mat-card-header {
  justify-content: center;
}
.img_container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.details {
  text-align: left;
  margin-left: 15%;
}
.mat-card-avatar {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  border: 4px solid #1d2226;
}
::ng-deep .mat-tab-labels {
  justify-content: center;
}
::ng-deep .mat-tab-label {
  font-size: 18px;
}

::ng-deep .mat-tab-body-content {
  height: 700px !important;
}

.mat-card-title {
  text-align: center;
  font-size: 29px;
  margin-bottom: 30px;
}

.add_img_div {
  margin-top: 10px;
}
.add_img_btn {
  font-size: 16px;
}
.submit-btn {
  margin: 0px 0px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}
::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 90%;
}

p {
  margin-bottom: 35px;
}

#img {
  margin-right: 1%;
  width: 40%;
  object-fit: cover;
  height: auto;
  object-position: 50% 50%;
}
