.container {
  display: flex;
  justify-content: center;
}

table {
  width: calc(70% - 24px);
  margin: 12px;
}

.mat-cell:last-child {
  border-right: 0px;
}

.mat-table {
  background: white;
}

.mat-cell {
  padding-left: 10px;
  font-size: 16px;
  border-right: 1px solid rgba(56, 53, 53, 0.24);
}

th {
  /* row border */
  border-bottom: 1px solid rgba(56, 53, 53, 0.24);
}

.mat-header-cell {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.home-img {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  width: 800px;
  height: auto;
  padding-top: 30px;
}
