.content {
  padding: 36px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 490px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

mat-card img {
  object-fit: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.img_card {
  width: 280px;
  height: 340px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-content {
  text-align: center;
  font-size: 21px;
}

.book_btn {
  height: 50px;
  font-size: 20px;
}

.title {
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 24px;
  width: 9.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top_title {
  font-size: 2.5vw;
  z-index: 1;
  position: relative;
  color: black;
  text-align: center;
  top: 6vh;
  margin-bottom: 20px;
}

.main-container {
  position: relative;
  bottom: 55px;
  margin-left: 130px !important;
}

.background_title {
  display: flex;
  text-align: center;
  position: relative;
  z-index: 0;
  max-height: 100%;
  width: 20%;
  bottom: 65px;
  margin-top: 30px;
}
.shape-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0 !important;
}
.details_btn {
  font-size: 20px;
  margin-top: -4px !important;
}
.buttons_top {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6vh;
}

mat-form-field,
mat-checkbox {
  width: 70%;
  margin: 25px 25px 0px 25px;
}

.form-field-sort {
  font-size: 18px;
  text-align: center;
}

::ng-deep .mat-select-value {
  padding-left: 5px;
}

.sortForm {
  position: relative;
  bottom: 25px;
  display: flex;
}
