<div class="book_detail" *ngIf="book" fxLayout="row" fxLayoutGap="16px grid">
  <div>
    <img
      class="img"
      mat-card-image
      [src]="createImgPath(book.image)"
      fxLayoutAlign="center"
    />
  </div>
  <div class="container">
    <mat-card>
      <mat-card-title class="mat_card_title"
        ><p>
          <b>{{ book.title }}</b>
        </p></mat-card-title
      >
      <mat-card-content class="mat_card_content">
        <p>{{ book.author }}</p>
      </mat-card-content>
    </mat-card>
    <div>
      <mat-card class="mat_card_details">
        <mat-card-content class="mat_card_content">
          <p>Editura: {{ book.publisher }}</p>
          <p>Număr pagini: {{ book.page }}</p>
          <p>Limba: {{ book.language }}</p>
          <p>Data publicării: {{ book.publicationDate | date: "yyyy" }}</p>
          <p>Categorie: {{ book.category.name }}</p>
          <p>Stare: {{ book.condition }}</p>
          <p>Preț: {{ book.price }} LEI</p>
          <p>
            Vândută de
            {{ book.user.lastName }} {{ book.user.firstName }}
            <mat-icon
              class="red_eye"
              #tooltip="matTooltip"
              matTooltip="Vizualizează profilul"
              matTooltipPosition="above"
              matTooltipHideDelay="100"
              >remove_red_eye</mat-icon
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
