.img {
  width: 400px;
  height: 615px;

  box-shadow: 20px 10px 10px #ccc;
  -moz-box-shadow: 20px 10px 10px #ccc;
  -webkit-box-shadow: 20px 10px 10px #ccc;
  -khtml-box-shadow: 20px 10px 10px #ccc;
}

.mat_card_details {
  margin-top: 25px;
  width: 350px;
}

.mat_card_content {
  font-size: 22px;
  line-height: 20px;
}

.author {
  font-size: 22px;
  line-height: 25px;
}

.mat_card_title {
  font-size: 30px;
  line-height: 1;
}

.container {
  margin-left: 25px;
}

.mat-card-image:first-child {
  margin-top: 0px !important;
  margin-left: 10px;
}

p {
  margin-bottom: 15px;
}

.red_eye {
  cursor: pointer;

  font-size: 1.3vw !important;
  bottom: 20px;
}

.red_eye:hover {
  color: #cf5966 !important;
}
