.details {
}

.img {
  width: 400px;
  height: 615px;
  //  border: 2px solid #555;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.mat_card_details {
  margin-top: 25px;
  width: 350px;
  // height: 250px;
}

.mat_card_content {
  font-size: 20px;
  //margin-top: 40px;
}

.container {
  margin-left: 25px;
}

.book_detail {
}
.mat-card-image:first-child {
  margin-top: 0px !important;
  margin-left: 10px;
}

.red_eye {
  //margin: auto;
  cursor: pointer;

  font-size: 1.3vw !important;
  bottom: 20px;
}
.red_eye:hover {
  color: rgb(212, 146, 116) !important;
}

::ng-deep .mat-tooltip {
  font-size: 13px;
}
