.mat-title {
  padding-left: 14px;
  padding-bottom: 20px;
  width: 9.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.title {
  color: black;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 2%;
  text-align: center;
  font-size: 60px !important;
  margin: 1% !important;
}

.carousel {
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
}

.content {
  padding: 36px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  max-width: 100%;
  max-height: 100%;
  width: 1400px;
  height: 650px;
  text-align: center;
  margin-bottom: 2%;
}
.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

::ng-deep .carousel-slide,
.carousel-slide-overlay {
  border-radius: 15px;
}

.book_img {
  cursor: pointer;
  object-fit: cover;
  width: 280px;
  height: 322px;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 2%;
  position: relative;
  z-index: 1;
}

.shadow_img {
  position: absolute;
  z-index: 0;
}

mat-card-content {
  text-align: center;
}

.book_btn {
  margin-bottom: 20px;
  font-size: 15px;
  height: 50px;
}

.main-container {
  justify-content: center;
  position: relative;
  z-index: 3;
}

::ng-deep .mat-select-value {
  padding-left: 5px;
}

.shelf_img {
  object-fit: cover;
  position: absolute;
  top: 1550px;
  z-index: 1;
}

.container_card {
  max-width: 100%;
  max-height: 100%;
}

.card-main-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.bottom_container {
  margin-top: 9%;
}
