<div class="carousel">
  <mat-carousel
    timings="450ms ease-in"
    [autoplay]="true"
    color="accent"
    maxWidth="auto"
    [interval]="8000"
    [maintainAspectRatio]="true"
    [loop]="true"
    [proportion]="60"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      class="test23"
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"
      [hideOverlay]="true"
    >
    </mat-carousel-slide>
  </mat-carousel>
</div>

<div class="bottom_container">
  <div class="title">Ultimele cărți adăugate</div>

  <div class="main-container-shelf">
    <img
      class="img_shelf"
      src="../../../assets/img/v69.png"
      fxLayoutAlign="center"
    />
    <mat-card class="container-card">
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="36px grid" class="main-container">
          <div *ngFor="let book of books.slice(0, 4)" class="test22">
            <mat-card-header>
              <!-- <mat-card-title class="mat-title"
                ><b>Alba ca zapada si cei 7 pitici</b></mat-card-title
              > -->
              <mat-card-title class="mat-title"
                ><b>{{ book.title }}</b></mat-card-title
              >
            </mat-card-header>
            <img
              class="img_shadow"
              src="../../../assets/img/book_shadow.png"
              fxLayoutAlign="center"
            />

            <!-- <mat-card-title><b>Alba ca Zapada si cei 7 pitici</b></mat-card-title> -->
            <a (click)="getBookDetails(book)">
              <img
                class="img_book"
                mat-card-image
                [src]="createImgPath(book.image)"
                fxLayoutAlign="center"
              />
            </a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
