<div class="carousel">
  <mat-carousel
    timings="450ms ease-in"
    [autoplay]="true"
    color="accent"
    maxWidth="1600px"
    [interval]="8000"
    [proportion]="50"
    [maintainAspectRatio]="true"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"
      [hideOverlay]="true"
    >
    </mat-carousel-slide>
  </mat-carousel>
</div>

<div class="bottom_container">
  <div class="title">Ultimele cărți adăugate</div>

  <div class="card-main-container">
    <img
      class="shelf_img"
      src="../../../assets/img/bookshelf.png"
      fxLayoutAlign="center"
    />
    <mat-card class="container-card">
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="36px grid" class="main-container">
          <div *ngFor="let book of books.slice(-4)">
            <mat-card-header>
              <mat-card-title class="mat-title"
                ><b>{{ book.title }}</b></mat-card-title
              >
            </mat-card-header>
            <img
              class="shadow_img"
              src="../../../assets/img/book_shadow.png"
              fxLayoutAlign="center"
            />

            <a (click)="getBookDetails(book)">
              <img
                class="book_img"
                mat-card-image
                [src]="createImgPath(book.image)"
                fxLayoutAlign="center"
              />
            </a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
