<div class="carousel">
  <mat-carousel
    timings="450ms ease-in"
    [autoplay]="true"
    color="accent"
    maxWidth="auto"
    [interval]="5000"
    [maintainAspectRatio]="true"
    [loop]="true"
    [proportion]="55"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image"
      overlayColor="#00000040"
      [hideOverlay]="false"
    >
    </mat-carousel-slide>
  </mat-carousel>
</div>

<div class="title">Mai jos veti putea gasi ultimele carti adaugate</div>

<div class="main-container-shelf">
  <img
    class="img_shelf"
    src="../../../assets/img/v69.png"
    fxLayoutAlign="center"
  />
  <mat-card class="container-card">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="36px grid" class="main-container">
        <div *ngFor="let book of books.slice(0, 4)">
          <mat-card-title
            ><b>{{ book.title }}</b></mat-card-title
          >

          <img
            class="img_shadow"
            src="../../../assets/img/book_shadow.png"
            fxLayoutAlign="center"
          />

          <!-- <mat-card-title><b>Alba ca Zapada si cei 7 pitici</b></mat-card-title> -->

          <img
            class="img_book"
            mat-card-image
            src="../../../assets/img/margaret.jpeg"
            fxLayoutAlign="center"
          />
        </div>
      </div>
    </div>
  </mat-card>
</div>
