:root {
  --body-font: "Inconsolata", monospace;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1rem;
  --larger-font-size: 1.6rem;
  --large-font-size: 1.3rem;
  --normal-font-size: 1.1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}
