<div class="content">
  <button mat-raised-button class="book_btn" routerLink="/add-book">
    Adaugă o carte
  </button>
  <div fxLayout="row wrap" fxLayoutGap="36px grid">
    <div *ngFor="let book of books$ | async | sortBy: 'asc':'title'">
      <mat-card>
        <mat-card-header>
          <mat-card-title><b>sasasa</b></mat-card-title>
          <!-- <mat-card-title><b>Alba ca Zapada si cei 7 pitici</b></mat-card-title> -->
        </mat-card-header>

        <img
          class="img"
          mat-card-image
          [src]="createImgPath(book.image)"
          fxLayoutAlign="center"
        />

        <mat-card-content>
          <p>Mihai Eminescu</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <button mat-raised-button color="accent" (click)="getBookById(book)">
            Detalii
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
