<div class="content">
  <div class="buttons_top">
    <button mat-raised-button class="book_btn" routerLink="/add-book">
      Adăugați o carte
    </button>
    <form [formGroup]="sortFormGroup" class="sortForm">
      <mat-form-field class="form-field-sort" appearance="fill">
        <mat-label>Sortează</mat-label>
        <mat-select
          formControlName="sorting"
          (selectionChange)="change($event)"
        >
          <mat-option *ngFor="let sorting of sortings" [value]="sorting">
            {{ sorting }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field-sort" appearance="fill">
        <mat-label>Filtrează</mat-label>
        <mat-select
          formControlName="category"
          (selectionChange)="changeCategorySearch($event)"
        >
          <mat-option
            *ngFor="let category of categories"
            [value]="category.name"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="36px grid" class="main-container">
    <div *ngFor="let book of books">
      <mat-card>
        <mat-card-header class="header">
          <mat-card-title class="title"
            ><b>{{ book.title }}</b></mat-card-title
          >

          <!-- <mat-card-title class="title"
            ><b>Alba ca Zapada si cei 7 pitici</b></mat-card-title
          > -->
        </mat-card-header>

        <img
          class="img_card"
          mat-card-image
          [src]="createImgPath(book.image)"
          fxLayoutAlign="center"
        />
        <!-- <div *ngIf="searchedProperty$ | async as property">{{ property }}</div> -->

        <mat-card-content>
          <p>{{ book.author }}</p>
          <p>{{ book.price }} LEI</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <button
            mat-raised-button
            color="accent"
            (click)="getBookById(book)"
            class="details_btn"
          >
            Detalii
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
