mat-form-field,
mat-checkbox {
  width: 90%;
  margin: 25px 25px 0px 25px;
  font-size: 17px;
}
mat-card-content {
  margin-top: 10%;
  font-size: 27px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

::ng-deep .form-field-message .mat-form-field-flex {
  height: 340px !important;
  // white-space: pre-line !important;
  max-width: 450px;
}

.maps_container {
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  height: 320px;
}

.submitButton {
  font-size: 30px;
  margin-top: 6%;
}

.mat_title {
  text-align: center;
  margin-top: 3% !important;
  font-size: 36px;
}

mat-card {
  width: 500px;
  height: 700px;
  margin-left: 3%;
}

.avatar_img {
  text-align: center;
}

.mat-card-header {
  justify-content: center;
}

.img_container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.details {
  text-align: left;
  margin-left: 15%;
}

::ng-deep .mat-tab-labels {
  justify-content: center;
}
::ng-deep .mat-tab-label {
  font-size: 18px;
}

::ng-deep .mat-tab-body-content {
  height: 700px !important;
}

.mat-card-title {
  text-align: center;
  font-size: 29px;
  margin-bottom: 30px;
}
.add_form {
  display: flex;
  flex-direction: column;
}
.add_img_div {
  margin-top: 10px;
}
.add_img_btn {
  font-size: 16px;
}
.submit-btn {
  margin: 0px 0px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}
::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 90%;
}

p {
  margin-bottom: 35px;
}

#img {
  margin-right: 1%;
  width: 40%;
  object-fit: cover;
  height: auto;
  object-position: 50% 50%;
}
