/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import "css/colors.scss";
@import "css/fonts.scss";
//Kalam

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Kalam",
);

@include mat-core();

$md-mcgpalette0: (
  50: #f9ebed,
  100: #f1cdd1,
  200: #e7acb3,
  300: #dd8b94,
  400: #d6727d,
  500: #cf5966,
  600: #ca515e,
  700: #c34853,
  800: #bd3e49,
  900: #b22e38,
  A100: #fff6f6,
  A200: #ffc3c7,
  A400: #ff9097,
  A700: #ff767f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: mat-palette($mat-grey, 50);
// $green: mat-palette($mat-teal, 200);
$primary: mat-palette($mat-grey, 900);
$warn: mat-palette($md-mcgpalette0);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include angular-material-typography($custom-typography);

html,
body {
  // font-size: var(--normal-font-size);
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0 0px;
}
body {
  background-size: 100% 100%;
  background: #efebd8;
  margin: 0;
  font-family: "Petit Formal Script";
  padding: 0 0px;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  letter-spacing: 3px;
}

h3 {
  font-size: var(--h3-font-size);
}

::ng-deep .info {
  background-color: #2196f3;
}

.notif-success {
  color: #ffffff !important;
  background-color: #59cfc2 !important;
  border-color: #000000 !important;
  .mat-simple-snackbar {
    line-height: 0px !important;
    font-size: 20px;
  }

  .mat-simple-snackbar-action {
    color: #000000 !important;
  }
}

.notif-error {
  color: #ffffff !important;
  background-color: #ba1c00 !important;
  border-color: #000000 !important;
  .mat-simple-snackbar {
    line-height: 0px !important;
    font-size: 20px;
  }
  .mat-simple-snackbar-action {
    color: #fcfcfc !important;
  }
}

.mat-simple-snack-bar-content {
  font-size: 30px;
}

.mat-tooltip {
  font-size: 1.4rem;
  &.exaggerated-tooltip {
    // to modify the tooltip create a class like this
    font-size: 2.5rem; // and use it like this: *matTooltipClass="exaggerated-tooltip"* in the
    color: red; // component in which you are putting the tooltip
  }
}

::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 90%;
}
