/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@import "css/colors.scss";
@import "css/fonts.scss";

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Inconsolata",
);

@include angular-material-typography($custom-typography);
html,
body {
  height: 100%;
  font-size: var(--normal-font-size);
}
body {
  // background-color: var(--body-color);

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(251, 219, 172, 1) 100%
  );
  margin: 0;
  font-family: "Inconsolata", monospace;
  padding: 0 0px;
  // overflow:  scroll;
}
h1 {
  font-size: var(--h1-font-size);
  //font-weight:normal;
}
h2 {
  font-size: var(--h2-font-size);
  //font-weight:normal;
  letter-spacing: 3px;
}
h3 {
  font-size: var(--h3-font-size);
  //font-weight:normal;
}

// .title {
//   width: 96%;
//   color: var(--text-color);
//   padding-top: 25px;
//   padding-bottom: 10px;
//   padding-left: 2%;
//   border-bottom: 3px solid;
//   margin: 1% !important;
//   font-size: var(--h1-font-size) !important;
//   ////font-family: "Inconsolata", monospace !important;
// }

::ng-deep .mat-snack-bar-container {
  // min-width: 840px;
  color: rgb(245, 245, 245);
  background-color: green;
}

// .mat-tooltip {
//   // making the font size on the mat-tooltip 1.5rem globally
//   font-size: 1.5rem;
//   &.exaggerated-tooltip {
//     // to modify the tooltip create a class like this
//     font-size: 2.5rem; // and use it like this: *matTooltipClass="exaggerated-tooltip"* in the
//     color: red; // component in which you are putting the tooltip
//   }
// }
