.add-item-container {
  height: fit-content;
  display: flex;
}
.add-item-container form {
  margin-top: 0;
  margin-left: 15vw;
}

form {
  margin-top: 50px;
  margin-left: 5%;
  display: inline-block;
}
.form-field {
  width: 400px;
  height: 8.5vh;
  max-width: 400px;
}
.submitButton {
  margin-left: 25%;
  width: 200px;
  height: 45px;
}
.onlineMarket {
  width: 700px;
  height: 600px;
  float: right;
}
.form-div {
  display: grid;
  grid-template-columns: 150px 200px;
  grid-template-areas: "theText theInput";
  padding-bottom: 10px;
}
.form-text {
  grid-area: theText;
}
.form-input {
  grid-area: theInput;
}

.home-img {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 850px;
  //padding-top: 30px;
}
.add_form {
  padding-top: 30px;
}

.form-field {
  padding-bottom: 5px;
  font-size: 18px;
}

.upload {
  font-weight: bold;
  color: #28a745;
  text-align: center;
  line-height: 36px;
}

.add_img_btn {
  width: 100%;
}

.add_img_div {
  //margin-top: 10px;
  margin-bottom: 15px;
}
