<div class="add-item-container">
  <div>
    <form
      class="add_form"
      [formGroup]="addBookFormGroup"
      fxLayout="column"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Titlu </mat-label>
        <input matInput placeholder="Titlul cărții" formControlName="title" />
        <!-- <mat-error *ngIf="hasError('title', 'required')"
          >Title is required!</mat-error
        > -->
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Autor </mat-label>
        <input matInput placeholder="Autorul cărții" formControlName="author" />
        <!-- <mat-error *ngIf="hasError('author', 'required')"
          >Author is required!</mat-error
        > -->
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Editura </mat-label>
        <input
          matInput
          placeholder="Editura cărții"
          formControlName="publishing"
        />
        <!-- <mat-error *ngIf="hasError('author', 'required')"
          >Publishing is required!</mat-error
        > -->
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Limba </mat-label>
        <input matInput placeholder="Limba cărții" formControlName="language" />
        <!-- <mat-error *ngIf="hasError('author', 'required')"
          >Publishing is required!</mat-error
        > -->
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Pagini </mat-label>
        <input
          [min]="0"
          matInput
          placeholder="Numărul de pagini al cărții"
          type="number"
          formControlName="page"
        />
        <!-- <mat-error *ngIf="hasError('page', 'required')"
          >Page number required!</mat-error
        > -->
      </mat-form-field>

      <!-- <mat-form-field class="form-field" appearance="outline">
        <mat-label>Data apariției </mat-label>
        <input matInput type="date" formControlName="image" />
   
      </mat-form-field> -->

      <input
        #file
        (change)="uploadFile(file.files)"
        formControlName="image"
        type="file"
        style="display: none"
      />
      <!-- <mat-error *ngIf="hasError('author', 'required')"
    >Author is required!</mat-error
  > -->
      <div class="add_img_div">
        <button
          class="add_img_btn"
          type="button"
          mat-raised-button
          color="warn"
          (click)="file.click()"
        >
          Adaugă imaginea cărții
        </button>

        <span class="upload" *ngIf="message"> {{ message }} </span>
      </div>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Alege starea cărții</mat-label>
        <mat-select formControlName="state" (selectionChange)="change($event)">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Alege categoria cărții</mat-label>
        <mat-select
          formControlName="category"
          (selectionChange)="change($event)"
        >
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        class="submitButton"
        type="submit"
        [disabled]="!addBookFormGroup.valid"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="home-img">
    <img id="logo" src="../../../assets/img/books.png" />
  </div>
</div>
