// .add-item-container {
//   height: fit-content;
//   display: flex;
// }
// .add-item-container form {
//   margin-top: 0;
//   margin-left: 15vw;
// }

// form {
//   margin-top: 50px;
//   margin-left: 5%;
//   display: inline-block;
// }
// .form-field {
//   width: 400px;
//   height: 8.5vh;
//   max-width: 400px;
// }
.submitButton {
  // margin-left: 25%;
  margin-top: 4%;
  width: 200px;
  height: 45px;
  font-size: 20px;
}

.edit_img_btn {
  margin-top: 14%;
  width: 230px;
  height: 45px;
  font-size: 20px;
}
// .onlineMarket {
//   width: 700px;
//   height: 600px;
//   float: right;
// }
// .form-div {
//   display: grid;
//   grid-template-columns: 150px 200px;
//   grid-template-areas: "theText theInput";
//   padding-bottom: 10px;
// }
// .form-text {
//   grid-area: theText;
// }
// .form-input {
//   grid-area: theInput;
// }

// .home-img {
//   display: flex;
//   justify-content: center;
// }

#logo {
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  height: auto;
}
// .add_form {
//   padding-top: 30px;
// }

// .form-field {
//   padding-bottom: 5px;
//   font-size: 18px;
// }

// .upload {
//   font-weight: bold;
//   color: #28a745;
//   text-align: center;
//   line-height: 36px;
// }

.add_img_btn {
  font-size: 20px;
}

.add_img_div {
  //margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.mat_title {
  font-size: 33px;
}
// .img {
//   width: 400px;
//   height: 615px;

// }

////////////////////////////////////////////////////////

.mat-card-title {
  text-align: center;
}

.mat-card-header {
  justify-content: center;
}
.img_container {
  display: flex;
  justify-content: center;
}
mat-form-field,
mat-checkbox {
  width: 40%;
  //display: block;
  margin: 25px 25px 0px 25px;
  font-size: 16px;
}
mat-card-content {
  margin-top: 10px !important;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

mat-card {
  width: 800px;
  margin-left: 3%;
  margin-bottom: 2%;
}

.img {
  width: 400px;
  height: 615px;
  //  border: 2px solid #555;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
  margin-right: 10px;
  margin-left: 10px;
}

.mat-card-image:first-child {
  margin-top: 0px !important;
}

.mat-card-edit {
  width: 450px;
  margin-right: 3%;
}

.img_div {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 90%;
}
