<div class="search-bar">
  <form class="search-form" [formGroup]="searchFormGroup">
    <mat-form-field class="search-sort" appearance="fill">
      <mat-label>Alege</mat-label>
      <mat-select formControlName="property" (selectionChange)="change($event)">
        <mat-option *ngFor="let property of properties" [value]="property">
          {{ property }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Caută după titlu, autor sau editură</mat-label>
      <input
        #search
        type="text"
        placeholder="Titlu, Autor sau Editură"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="search_btn"
      (click)="searchedTitle(search.value)"
    >
      Search
    </button>
  </form>
</div>
