<div class="container">
  <mat-card class="example-card">
    <mat-tab-group color="primary">
      <mat-tab label="Detalii">
        <div class="img_container" *ngIf="image$ | async as image">
          <img class="avatar_img" mat-card-avatar [src]="image" />
        </div>
        <mat-card-content>
          <mat-card-title>{{
            user.lastName + " " + user.firstName
          }}</mat-card-title>

          <form
            [formGroup]="updateUserFormGroup"
            (ngSubmit)="onSubmitDetails()"
            *ngIf="updateUserFormGroup"
          >
            <input
              #file
              (change)="uploadFile(file.files)"
              formControlName="image"
              type="file"
              style="display: none"
            />
            <div class="add_img_div">
              <button
                class="add_img_btn"
                type="button"
                mat-raised-button
                color="warn"
                (click)="file.click()"
              >
                Schimbați poza de profil
              </button>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Nume</mat-label>
              <input
                matInput
                type="text"
                placeholder="Introduceți numele"
                formControlName="lastName"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Prenume</mat-label>
              <input
                matInput
                type="text"
                placeholder="Introduceți numele"
                formControlName="firstName"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                placeholder="Introduceți emailul"
                formControlName="email"
              />

              <mat-error *ngIf="hasErrorDetails('email', 'email')"
                >Email-ul trebuie să conțină @</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Telefon</mat-label>
              <input
                matInput
                type="text"
                placeholder="Introduceți numărul de telefon"
                formControlName="phoneNumber"
              />
              <mat-error *ngIf="hasErrorDetails('phoneNumber', 'pattern')"
                >Telefonul trebuie să aibe 10 cifre
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Oraș</mat-label>
              <input
                matInput
                type="text"
                placeholder="Introduceți orașul"
                formControlName="city"
              />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Alegeți ultima formă de învățământ </mat-label>
              <mat-select
                formControlName="study"
                (selectionChange)="change($event)"
              >
                <mat-option
                  *ngFor="let educationForm of educationForms"
                  [value]="educationForm"
                >
                  {{ educationForm }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div align="center">
              <button
                class="submit-btn"
                mat-raised-button
                color="warn"
                type="submit"
                [disabled]="!updateUserFormGroup.valid"
              >
                Actualizați
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Securitate">
        <div class="img_container" *ngIf="image$ | async as image">
          <img class="avatar_img" mat-card-avatar [src]="image" />
        </div>
        <mat-card-content>
          <mat-card-title>{{
            user.lastName + " " + user.firstName
          }}</mat-card-title>
          <form
            [formGroup]="securityFormGroup"
            (ngSubmit)="onSubmit()"
            *ngIf="securityFormGroup"
          >
            <mat-form-field appearance="outline">
              <mat-label>Parolă curentă</mat-label>
              <input
                matInput
                type="password"
                formControlName="currentPassword"
              />
              <mat-error *ngIf="hasErrorSecurity('currentPassword', 'required')"
                >Parola curentă obligatorie</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Parolă nouă</mat-label>
              <input
                matInput
                type="password"
                formControlName="newPassword"
                (change)="onPasswordChange()"
              />
              <mat-error *ngIf="hasErrorSecurity('newPassword', 'required')"
                >Parola nouă obligatorie</mat-error
              >

              <mat-error *ngIf="hasErrorSecurity('newPassword', 'pattern')"
                >Parola trebuie să conțină 1 literă mare, 1 literă mică și 1
                caracter special</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirmare parolă nouă</mat-label>
              <input
                matInput
                type="password"
                formControlName="confirmNewPassword"
                (change)="onPasswordChange()"
              />
              <mat-error
                *ngIf="hasErrorSecurity('confirmNewPassword', 'required')"
                >Confirmare parolă nouă obligatorie</mat-error
              >
              <mat-error *ngIf="confirmNewPassword.hasError('mismatch')"
                >Parolele nu se potrivesc</mat-error
              >
            </mat-form-field>

            <div align="center">
              <button
                class="submit-btn"
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!securityFormGroup.valid"
              >
                Actualizați
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <img class="img" [src]="image2$ | async" />
  <!-- <img class="img" src="../../../assets/img/poza_buna_Ultima.png" /> -->
</div>
