mat-form-field,
mat-checkbox {
  width: 40%;
  margin: 25px 25px 0px 25px;
  font-size: 17px;
}

mat-card-content {
  margin-top: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

mat-card {
  width: 900px;
  margin-left: 3%;
}
.home-img {
  display: flex;
  justify-content: flex-end;
}

.img {
  margin-right: 1%;
  width: 40%;
  object-fit: cover;
  height: auto;
  object-position: 50% 50%;
}

.avatar_img {
  text-align: center;
}

.mat-card-header {
  justify-content: center;
}
.img_container {
  display: flex;
  justify-content: center;
}

.mat-card-avatar {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  border: 4px solid #1d2226;
}
::ng-deep .mat-tab-labels {
  justify-content: center;
}
::ng-deep .mat-tab-label {
  font-size: 18px;
}

::ng-deep .mat-tab-body-content {
  height: 700px !important;
}

.mat-card-title {
  text-align: center;
  font-size: 29px;
  margin-bottom: 30px;
}

.add_img_div {
  margin-top: 10px;
}

.add_img_btn {
  font-size: 20px;
}

.submit-btn {
  margin: 0px 0px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 90%;
}
